:root{
    --black: #2b2b2b;
}

/* (*) = Tanda Untuk Menandakan Global */
/* (>) = Tanda Untuk Menandakan Variablel Yang Ada Di Sebelum Tanda Tersebut */
tr > *{
    border: 1px solid var(--black);
}

table > tr > td{
    text-align: center;
}
